$colors: (
  colors: (
    primary: (
      25: #B0C6C1,
      50: #41AFB0,
      75: #379596,
      100: #0B646B
    ),
    secondary: (
      25: #FF9A4E,
      50: #FF7812,
      75: #F27211,
      100: #E66C10
    ),
    accent: (
      1: #ffd200,
      2: #3f466a
    ),
    negative: (
      25: #D54B4B,
      50: #E01111,
      75: #C60F0F,
      100: #AD0D0D
    ),
    neutral: (
      0: #000000,
      10: #1b1b1b,
      20: #303030,
      30: #474747,
      40: #5e5e5e,
      50: #777777,
      60: #919191,
      70: #ababab,
      80: #c6c6c6,
      90: #e2e2e2,
      100: #FFFFFF
    )
  )
);
